<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/welcome.css">
</head>
<body>
    <header class="header">
        <div class="logo-box">
            <img src="https://27b67461b6f5b0ef0f7f-4ed8056a596c81d3dd354ce52d883b92.ssl.cf3.rackcdn.com/x.dev/x/images/products/uploads/Rex_Logo_RGB_Primary.png" class="logo" alt=""></a>
        </div>
        
        <div class="text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">Thank you</span>
                <span class="heading-primary-sub">for accepting this Terms</span>
            </h1>
            <a href="/sign_in" class="btn btn-white">Let's Get Started</a>
        </div>
        
    </header>
</body>
</html>